<header>
  <h1>Wiki rewizor (alfa)</h1>
  <p>Narzędzie do tworzenia statystyk historii edycji artykułów na Wikipedii.</p>
</header>

<br />

<section style="width: 48%;" class="left">
  <h1><a href="/single_query">Pojedyncze hasło</a></h1>
  <a href="/single_query"><img src="/img/copyright.png" alt="Historia edycji hasła Copyright na anglojęzycznej Wikipedii" class="left" /></a>
  <p class="right">Ten modół pozwoli zobaczyć szczegółowe statystyki pojedynczego hasła z Wikipedii.</p>
  <a href="/single_query"><div class="right button">Stwórz statystykę</div></a>
</section>

<section style="width: 48%;" class="right">
  <h1><a href="/first_query">Zestawienie haseł</a></h1>
  <a href="/first_query"><img src="/img/both.png" alt="Historia edycji hasła Copyright na anglojęzycznej Wikipedii" class="left" /></a>
  <p class="right">Ten modół pozwoli zobaczyć szczegółowe statystyki pojedynczego hasła z Wikipedii.</p>
  <a href="/first_query"><div class="right button">Stwórz zestawienie</div></a>
</section>

<br />

<footer>
  <section class="left"></section>
  <section class="right"></section>
</footer>

